<div class=  "flex flex-col items-center">
        <%= image_tag 'inkotati.png', width: '1000', height: '1000', style: 'display: block; margin: 0 auto;' %>
        <br>
        <h1 style="font-size: 60px;">inkouresii??</h1>
        <h2 style="font-size: 30px;">あなたの心の中のインコを探しましょう</h2>
        <br>
        <div>
            <%= link_to image_tag('tansaku.png', alt: '探索する', width: '200',style: 'display: block; margin: 0 auto;'),inko_path %>
        </div>
</div>
